<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{"/assets/vendor/startbootstrap-clean-blog/js/scripts.js" | relative_url }}"></script>

<script src="{{"/assets/scripts.js" | relative_url }}"></script>

{% if page.url contains 'contact' %}
  <!-- Form Validation -->
  <script src="{{"/assets/vendor/startbootstrap-clean-blog/js/jqBootstrapValidation.js" | relative_url }}"></script>
  <!-- Send Form -->
  <script>
    $(function () {

      $("#contactForm input,#contactForm textarea").jqBootstrapValidation({
        preventSubmit: true,
        submitError: function ($form, event, errors) {
          // additional error messages or events
        },
        submitSuccess: function ($form, event) {
          event.preventDefault(); // prevent default submit behaviour
          // get values from FORM
          var name = $("input#name").val();
          var email = $("input#email").val();
          var phone = $("input#phone").val();
          var message = $("textarea#message").val();
          var firstName = name; // For Success/Failure Message
          // Check for white space in name for Success/Fail message
          if (firstName.indexOf(' ') >= 0) {
            firstName = name.split(' ').slice(0, -1).join(' ');
          }
          $this = $("#sendMessageButton");
          $this.prop("disabled", true); // Disable submit button until AJAX call is complete to prevent duplicate messages
          //https://docs.google.com/forms/d/e/1FAIpQLSeE2Ohn8NY0ih8fojkn-wZrg1mereLj_6b53-nGPH5znECcHg/viewform?usp=pp_url&entry.324077075=nome&entry.1736720101=telefone&entry.1849293650=mail&entry.1000111258=mensagem
          //https://docs.google.com/forms/d/e/1FAIpQLSeE2Ohn8NY0ih8fojkn-wZrg1mereLj_6b53-nGPH5znECcHg/formResponse?&entry.324077075=nome&entry.1736720101=telefone&entry.1849293650=mail&entry.1000111258=mensagem&submit=SUBMIT
          var formId = '1FAIpQLSeE2Ohn8NY0ih8fojkn-wZrg1mereLj_6b53-nGPH5znECcHg'
          var queryString = '/formResponse?entry.324077075='+name+'&entry.1736720101='+phone+'&entry.1849293650='+email+'&entry.1000111258='+message+'&submit=SUBMIT';

          var url = 'https://docs.google.com/forms/d/e/' + formId + '/formResponse'
          var data ={
            "entry.324077075": name,
            "entry.1736720101": phone,
            "entry.1849293650": email,
            "entry.1000111258":message,
            "submit": "SUBMIT"
          }
          $.ajax({
            url: url,
            data: data, //Nifty jquery function that gets all the input data
            type: 'POST', //tells ajax to post the data to the url
            dataType: "json",
            statusCode: { //the status code from the POST request
              0: function(data) { //0 is when Google gives a CORS error, don't worry it went through
                // Success message
                $('#success').html("<div class='alert alert-success'>");
                $('#success > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;").append("</button>");
                $('#success > .alert-success').append("<strong>Your message has been sent. </strong>");
                $('#success > .alert-success').append('</div>');
                //clear all fields
                $('#contactForm').trigger("reset");
              },
              200: function(data) {//200 is a success code. it went through!
                // Success message
                $('#success').html("<div class='alert alert-success'>");
                $('#success > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;").append("</button>");
                $('#success > .alert-success').append("<strong>Your message has been sent. </strong>");
                $('#success > .alert-success').append('</div>');
                //clear all fields
                $('#contactForm').trigger("reset");
              },
              403: function(data) {//403 is when something went wrong and the submission didn't go through
                // Fail message
                $('#success').html("<div class='alert alert-danger'>");
                $('#success > .alert-danger').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;").append("</button>");
                $('#success > .alert-danger').append($("<strong>").text("Sorry " + firstName + ", it seems that my mail server is not responding. Please try again later!"));
                $('#success > .alert-danger').append('</div>');
                //clear all fields
                $('#contactForm').trigger("reset");
              },
            },
            complete: function () {
              setTimeout(function () {
                $this.prop("disabled", false); // Re-enable submit button when AJAX call is complete
              }, 1000);
            }
            
          });
          /*var opts = {
            method: "GET",
            mode: "no-cors", // apparently Google will only submit a form if "mode" is "no-cors"
            redirect: "follow", 
            referrer: "no-referrer"
          }*/

          //console.log(fetch(url, opts));
          /*$.ajax({
            url: "//formspree.io/{{ site.email }}",
            type: "POST",
            data: {
              name: name,
              phone: phone,
              email: email,
              message: message
            },
            cache: false,
            success: function () {
              // Success message
              $('#success').html("<div class='alert alert-success'>");
              $('#success > .alert-success').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;").append("</button>");
              $('#success > .alert-success').append("<strong>Your message has been sent. </strong>");
              $('#success > .alert-success').append('</div>');
              //clear all fields
              $('#contactForm').trigger("reset");
            },
            error: function () {
              // Fail message
              $('#success').html("<div class='alert alert-danger'>");
              $('#success > .alert-danger').html("<button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;").append("</button>");
              $('#success > .alert-danger').append($("<strong>").text("Sorry " + firstName + ", it seems that my mail server is not responding. Please try again later!"));
              $('#success > .alert-danger').append('</div>');
              //clear all fields
              $('#contactForm').trigger("reset");
            },
            complete: function () {
              setTimeout(function () {
                $this.prop("disabled", false); // Re-enable submit button when AJAX call is complete
              }, 1000);
            }
          });*/
        },
        filter: function () {
          return $(this).is(":visible");
        }
      });

      $("a[data-toggle=\"tab\"]").click(function (e) {
        e.preventDefault();
        $(this).tab("show");
      });
    });

    /*When clicking on Full hide fail/success boxes */
    $('#name').focus(function () {
      $('#success').html('');
    });
  </script>
{% endif %}
